* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 112.5%;
  line-height: 1.5;
  margin: 0;
}

h1,
h2,
h3,
p,
i {
  line-height: 1.3;
  margin: 8px 0;
  color: rgb(17, 31, 31);
}

input,
button {
  font-size: 1em;
}

a {
  text-decoration: none;
  color: black;
}

.main-grid {
  display: grid;
  grid-template-rows: [header] 60px [main] auto [footer] 60px;
  min-width: 320px;
  max-width: 60vw;
  height: 100vh;
  margin: 0 auto;
}

.grid-head {
  grid-row: header;
  background-color: rgb(155, 199, 199);
  text-align: center;
}

.profile {
  grid-row: main;
  background-color: rgb(213, 198, 224);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  overflow-y: scroll;
  flex-wrap: wrap;
}

.grid-footer {
  grid-row: footer;
  display: flex;
  flex-direction: row;
  background-color: cadetblue;
  justify-content: space-around;
  align-items: center;
  font-size: 35px;
}

.grid-footer > a {
  margin-top: 8px;
}

.profile__personal {
  display: flex;
  flex-direction: row;
  width: 310px;
  height: 150px;
  justify-content: space-around;
  align-items: center;
}

.profile__personal__name {
  margin-left: 10px;
}

.profile__personal__picture {
  padding-left: 0;
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
}

.profile__personal__picture img {
  width: 100%;
  height: auto;
}

.profile__about {
  width: 310px;
  font-size: 14px;
}

.profile__tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 320px;
  flex-wrap: wrap;
}

.profile__tags__item {
  border: 1px solid #91678d;
  padding: 3px 25px 1px 25px;
  border-radius: 3px;
  background-color: #91678d;
  font-size: 14px;
  margin-top: 15px;
  box-shadow: 3px 3px 10px 3px rgb(165, 165, 165);
}

.profile__log-out__button {
  border-radius: 20px;
  border: none;
  background-color: #c769bf;
  padding: 7px 15px;
  box-shadow: 1px 2px 5px 5px rgb(240, 190, 255),
    inset 0 0 10px 5px rgb(232, 155, 255);
}

.profile__log-out__button:hover {
  background-color: #cd52fd;
  cursor: pointer;
}
