:root {
  --background-color-header: #6dc9c8;
  --background-color-main: #f7e9e3;
  --background-color-footer: #0e3150;
  --background-color-cards: #ffc0c2;
  --primary-text-color: #0e3150;
  --primary-headline-color: #eaf6f6;
  --button-color: #6dc9c8;
  --button-hover-color: #0e3150;
  --icon-color: #eaf6f6;
  --current-icon-color: #ffc0c2;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 112.5%;
  line-height: 1.5;
  margin: 0;
}

h1,
h2,
h3 {
  line-height: 1.3;
  margin: 8px 0;
  color: var(--primary-headline-color);
}

input,
button {
  font-size: 1em;
}

a {
  text-decoration: none;
  color: var(--primary-headline-color);
}

.main-grid {
  display: grid;
  grid-template-rows: [header] 60px [main] auto [footer] 60px;
  min-width: 320px;
  max-width: 60vw;
  height: 100vh;
  margin: 0 auto;
}

.grid-head {
  grid-row: header;
  background-color: var(--background-color-header);
  text-align: center;
}

.grid-content {
  grid-row: main;
  background-color: var(--background-color-main);
  display: flex;
  flex-direction: row;
  flex-basis: 80%;
  justify-content: space-evenly;
  flex-wrap: wrap;
  overflow-y: scroll;
}

.grid-footer {
  grid-row: footer;
  display: flex;
  flex-direction: row;
  background-color: var(--background-color-footer);
  justify-content: space-around;
  align-items: center;
  font-size: 35px;
}

.grid-footer > a {
  margin-top: 12px;
}

.question-card {
  border: 1px solid var(--background-color-cards);
  width: 310px;
  height: 220px;
  position: relative;
  border-radius: 5px;
  display: grid;
  padding: 5px;
  background-color: var(--background-color-cards);
  margin-top: 20px;
  box-shadow: inset 7px 7px 22px 5px rgba(0, 0, 0, 0.65);
}

.question-card__bookmark,
.question-card a {
  position: absolute;
  right: 15px;
  top: -1px;
  font-size: 30px;
  color: var(--background-color-footer);
}

.question-card__bookmark:hover {
  scale: 1.3;
}

.question-card__title h3,
.question-card__question {
  margin-left: 10px;
  margin-right: 10px;
}

.question-card__question {
  font-size: 15px;
}

.question-card__show-answer {
  display: block;
  margin: 0 auto 15px auto;
  border-radius: 3px;
  border: 1px solid var(--button-color);
  background-color: var(--button-color);
  padding: 5px 7px;
  transition: 200ms ease-in-out;
  box-shadow: 0 10px 13px -7px #000000;
}

.question-card__show-answer:hover {
  cursor: pointer;

  color: rgb(220, 199, 235);
  background-color: var(--button-hover-color);
  border: 1px solid var(--button-hover-color);
}

.question-card__tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.question-card__tags-item {
  font-size: 15px;
  border: 1px solid;
  padding: 1px 25px;
  border-radius: 3px;
}
