* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 112.5%;
  line-height: 1.5;
  margin: 0;
}

h1,
h2,
h3 {
  line-height: 1.3;
  margin: 8px 0;
}

input,
button {
  font-size: 1em;
}

a {
  text-decoration: none;
  color: black;
}

.main-grid {
  display: grid;
  grid-template-rows: [header] 60px [main] auto [footer] 60px;
  min-width: 320px;
  max-width: 60vw;
  height: 100vh;
  margin: 0 auto;
}

.grid-head {
  grid-row: header;
  background-color: rgb(155, 199, 199);
  text-align: center;
}

.grid-content {
  grid-row: main;
  background-color: rgb(255, 239, 251);
  display: flex;
  flex-direction: row;
  flex-basis: 80%;
  justify-content: space-evenly;
  flex-wrap: wrap;
  overflow-y: scroll;
}

.grid-footer {
  grid-row: footer;
  display: flex;
  flex-direction: row;
  background-color: cadetblue;
  justify-content: space-around;
  align-items: center;
  font-size: 35px;
}

.grid-footer > a {
  margin-top: 12px;
}

.box {
  border: 1px solid grey;
  width: 310px;
  height: 220px;
  position: relative;
  border-radius: 5px;
  display: grid;
  padding: 5px;
  background-color: rgb(213, 198, 224);
  margin-top: 20px;
}

.box .fa-bookmark,
.box a {
  position: absolute;
  right: 15px;
  top: -3px;
  font-size: 30px;
}

.box .fa-bookmark:hover {
  scale: 1.3;
}

.box h3,
.box p {
  margin-left: 10px;
  margin-right: 10px;
}

.box p {
  font-size: 15px;
}

.box button {
  display: block;
  margin: 0 auto;
  border-radius: 3px;
  border: 1px solid rgb(138, 92, 170);
  background-color: rgb(138, 92, 170);
  padding: 5px 7px;
}

.box button:hover {
  cursor: pointer;
  background-color: rgb(92, 30, 61);
  border: 1px solid rgb(92, 30, 61);
  color: rgb(220, 199, 235);
}

.box-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.box-footer .answer {
  font-size: 15px;
  border: 1px solid;
  padding: 1px 25px;
  border-radius: 3px;
}
