:root {
  --background-color-header:#4682B4;
  --background-color-main: #F5FFFA;
  --background-color-footer:#4682B4;
  --background-color-cards: #87CEFA;
  --primary-text-color: #0e3150;
  --primary-headline-color: #eaf6f6;
  --button-color: #F5FFFA;
  --button-hover-color: #0e3150;
  --icon-color: #eaf6f6;
  --current-icon-color: #ffc0c2;
}
